<div>
  <ul class="alert alert-danger" *ngIf="errores?.length>0">
    <li *ngFor="let err of errores">
      {{err}}
    </li>
  </ul>
</div>
<div class="card bg-dark text-white my-3">
  <div class="card-header">
    {{titulo}}
  </div>
  <div class="card-body">
    <form #clienteForm="ngForm">
        <!-- Nombre -->
        <div class="form-group row">
          <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre"#nombre="ngModel"> <!-- required minlength="4" -->
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
              <div *ngIf="nombre.errors.required">
                Campo nombre es requerido
              </div>
              <div *ngIf="nombre.errors.minlength">
                Campo nombre es debe tener al menos 4 caracteres.
              </div>
            </div>
          </div>
        </div>
        <!-- Apellido -->
        <div class="form-group row">
          <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" #apellido="ngModel"> <!-- required -->
            <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
              <div *ngIf="apellido.errors.required">
                Campo apellido es requerido
              </div>
            </div>
          </div>
        </div>
        <!-- Email -->
        <div class="form-group row">
          <label for="email" class="col-form-label col-sm-2">Email</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" #email="ngModel"> <!-- required  email-->
            <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
              <div *ngIf="email.errors.required">
                Campo email es requerido
              </div>
              <div *ngIf="email.errors.email">
                Campo email debe tener un formato válido
              </div>
            </div>
          </div>
        </div>
      <!-- Fecha -->
      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
          <input [matDatepicker]="myDatepicker" class="form-control" [(ngModel)]="cliente.createdAt" name="createAt" style="display: inline; width: 290px">
          <mat-datepicker-toggle  [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #myDatepicker></mat-datepicker>
        </div>
      </div>
      <!-- Regiones -->
      <div class="form-group row">
        <label for="region" class="col-form-label col-sm-2">Región</label>
        <div class="col-sm-6">
          <select [compareWith]="compararRegion" class="form-control" [(ngModel)]="cliente.region" name="region" style="width: 500px">
            <option [ngValue]="undefined">--- Seleccionar una región ---</option>
            <option *ngFor="let r of regiones" [ngValue]="r">{{r.nombre}}</option>
          </select>
        </div>
      </div>
      <!-- Botón -->
      <div class="form-group row">
        <div class="col-sm-6">
          <button (click)="create()"  *ngIf="!cliente.id else elseBlock" class="btn btn-primary" role="button" [disabled]="!clienteForm.form.valid">Crear</button>
          <ng-template #elseBlock>
            <button (click)="update()" class="btn btn-primary" [disabled]="!clienteForm.form.valid">Editar</button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
